 /* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: black;
    --color-secundario: white; 
    --color-terciario: #22D4FD; 
    --color-hover: #272727;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    /* height: 100vh;  el body ocupa el 100% de la pagina, se ve en el inspect element */
    box-sizing: border-box;
}

.header {
    padding: 2% 0% 0% 7%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem; /* 1rem son 16px, 1.5 serian 24 */
    font-weight: 400;
    color: var(--color-terciario);
    text-decoration: none;

}

.presentacion {
    display: flex;  /* organiza los elementos */
    align-items: center;
    padding: 6% 7%; /* margin: margenes del contenido */
    justify-content: space-between; /* espacio entre elementos */
    gap: 82px;
}

.presentacion__contenido {
    width: 50%;
    display: flex;
    flex-direction: column; /* por default la orientacion es horizontal, esto lo vuelve vertical */
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: 2.25rem; /* 36px */
    font-family: var(--fuente-krona);
}

.titulo-destacado{
    color: var(--color-terciario);
}

.presentacion__contenido__texto {
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;

}


.presentacion__enlaces__link {
    width: 50%;
    
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;  /* organiza el texto junto con los iconos */
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
    padding: 3%;
    
}

.presentacion__imagen {
    width: 50%; /* imagen siempre ocupa 50 por ciento de pantalla*/
}

.footer {
    background-color: var(--color-terciario);
    padding: 24px;
    text-align: center;
    color: var(--color-primario);
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion__contenido__texto a{
    text-decoration: none;
    color: var(--color-terciario);
}

/* 

usar "a" arriba si no se quiere crear una nueva clase en cv.html
.presentacion__contenido__texto__link {
    text-decoration: none;
    color: #22D4FD;
}

*/

@media (max-width:1200px){

    .header{
        padding: 10%;
    
    }
    .header__menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse; /* comportamiento de la imagen cuando disminuye la pantalla */
    }
}